@font-face {
	font-family: SourceCodePro-Light;
	src: local("../font/SourceCodePro-Light.otf");
    font-family: SourceCodePro-Medium;
    src: local("../font/SourceCodePro-Medium.otf");
    font-family: SourceCodePro-Regular;
    src: local("../font/SourceCodePro-Regular.otf");
}

body{
	padding-top: 40px;
	font-size: 15px;
	letter-spacing: 1px;
	font-family: SourceCodePro-Regular, Helvetica, sans-serif;

}
h1{
	color: #272727;
	line-height: 0px;
	font-size: 50px;

}
h2{
	line-height: 3px;
	margin-top: 4px;
	color: #ed7c2c;
	font-size: 40px;
}
h3{
    color: #ed7c2c;
}
h4{
	font-size: 30px;
	line-height: 0;
	margin: 0;
}

p.tagline{
    font-family: SourceCodePro-Light, serif;
}
table.thread{
	border-top: #565656 solid 1px;
}
div#header{
	margin-bottom: 50px;
}
div.index{
	text-align: right;
	width: 24%;
	padding-right: 20px;
	float: left;
	margin-right: 50px;
}
tr.trow>td{
	padding-right: 80px;
	text-align: center;
	font-size: 15px;
	width: auto;
}
div.description>*{
	margin-left: 30%;
}

.icon{
	width: 20px;
	height: 20px;
}

.mail{
    text-decoration: none;
    color: #ed7c2c;
}

.container{
	border-radius: 8px;
	width: 60%;
	background-color: #8b9299;
}
.skills{
	line-height: 8px;
	color: #ed7c2c;
	border-radius: 8px;
}
.web{
	width: 75%;
	background-color: #ed7c2c;
    animation: web 2s ease-out;
}
.java{
	width: 80%;
	background-color: #ed7c2c;
    animation: java 2s ease-out;
}
.sql{
	width: 85%;
	background-color: #ed7c2c;
    animation: sql 2s ease-out;
}
.python{
	width: 70%;
	background-color: #ed7c2c;
    animation: python 2s ease-out;
}
.jsp{
	width: 60%;
	background-color: #ed7c2c;
    animation: jsp 2s ease-out;
}

#picture{
	width: 70%;
	height: 70%;
	border-radius: 50%;
	margin-left: 50px;
	margin-top: 30px;
}
#name{
	letter-spacing: 3px;
	font-family: Clarendon, Helvetica,sans-serif;
}

@keyframes web {
    from {width: 0px; background-color: #ed7c2c;}
    to {width: 75%; background-color: #ed7c2c;}
}
@keyframes java {
    from {width: 0px; background-color: #ed7c2c;}
    to {width: 80%; background-color: #ed7c2c;}
}
@keyframes sql {
    from {width: 0px; background-color: #ed7c2c;}
    to {width: 85%; background-color: #ed7c2c;}
}
@keyframes python {
    from {width: 0px; background-color: #ed7c2c;}
    to {width: 70%; background-color: #ed7c2c;}
}
@keyframes jsp {
    from {width: 0px; background-color: #ed7c2c;}
    to {width: 60%; background-color: #ed7c2c;}
}